<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.LibraryManagementConnectionString"
            connectionString="Data Source=QUOCDUNG;Initial Catalog=LibraryManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_LibraryManagement_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=LibraryManagement" />
        <add name="LibraryManagementConnectionString" connectionString="XpoProvider=MSSqlServer;data source=QUOCDUNG;integrated security=SSPI;initial catalog=LibraryManagement" />
    </connectionStrings>
</configuration>